SECRET_KEY='django-insecure-+bmc%=bv+)-7+ty!-&rw$s@js$0@3t+x56v#xz!p$$h0r+7ij='
DEBUG=True
ALLOWED_HOSTS='127.0.0.1:8000,localhost:8000'

# settings/__init__.py -> dev or prod settings
DJANGO_ENV=dev
DJANGO_SETTINGS_MODULE=core.settings.dev

# DB_ENGINE=
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=
